.calculator {
    margin-top: 54px;
    width: 290px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.calculator__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 140%;
    color: #1F1E25;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
}

.calculator__box {
    display: flex;
    flex-direction: column;
}

.calculator__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #1F1E25;
    margin-top: 20px;
    display: block;
}

.calculator__select {
    margin-top: 15px;
    border: 1px solid #1F1E25;
    box-sizing: border-box;
    border-radius: 4px;
    width: 290px;
    height: 60px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #1F1E25;
    padding-left: 11px;
    position: relative;
}

.calculator__select::before {
    content: '';
    position: absolute;
    width: 19px;
    height: 11px;
    background-image: url('../../img/arrow.svg');
    top: 24px;
    right: 13px;
}

.calculator__select--open {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.calculator__select-text {
    margin-top: 18px;
    display: block;
    padding-left: 4px;
}

.calculator__option-credit {
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    border-left: solid 1px #1F1E25;
    border-right: solid 1px #1F1E25;
    border-bottom: solid 1px #C1C2CA;
}

.calculator__option-avto {
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    border-left: solid 1px #1F1E25;
    border-right: solid 1px #1F1E25;
    border-bottom: solid 1px #1F1E25;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.calculator__option-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #1F1E25;
    margin-top: 19px;
    display: block;
    margin-left: 14px;
}

.calculator__option {
    height: 60px;
    width: 290px;
}

.calculator__text--margin {
    margin-top: 24px;
}

.calculator__clarification {
    margin-top: 1px;
    display: block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #394959;
}

.calculator__inputValue {
    position: relative;
    margin-top: 8px;
}

.inputValue__button {
    position: absolute;
    border: none;
    background: white;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: center;
}

.inputValue__input {
    width: 290px;
    height: 60px;
    padding: 0px;
    border: 1px solid #1F1E25;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #1F1E25;
    padding-left: 80px;
    margin-top: 9px;
}

.inputValue__button--left {
    background-image: url('../../img/minus.svg');
    left: 24px;
    top: 53px;
}

.inputValue__button--right {
    background-image: url('../../img/plus.svg');
    top: 54px;
    right: 15px;
}

.calculator__options {
    margin-top: 7px;
    display: block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #707C87;
}

.calculator__clarification--margin {
    margin-top: 9px;
}

.calculator__contribution {
    width: 290px;
    height: 60px;
    border: 1px solid #1F1E25;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #1F1E25;
    margin-top: 8px;
    padding-left: 90px;
}

.calculator__option--display{
    display: none;
}

.calculator__slider {
    -webkit-appearance: none;
    width: 290px;
    height: 1px;
    background: #C1C2CA;
    outline: none;
    margin-top: 21px;
}

.calculator__slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 14px;
    height: 14px;
    background-image: url('../../img/ellipse.svg');
    border: none;
}

.calculator__slider::-moz-range-thumb {
    width: 14px;
    height: 14px;
    background-image: url('../../img/ellipse.svg');
    border: none;
}

.calculator__textcontribution {
    margin-top: 11px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #707C87;
}

.calculator__textterm {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #394959;
    margin-top: 9px;
}

.calculator__year {
    width: 290px;
    height: 60px;
    border: 1px solid #1F1E25;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #1F1E25;
    display: flex;
    text-align: center;
    margin-top: 9px;
}

.calculator__slider--margin {
    margin-top: 17px;
}

.calculator__textconteiner {
    display: flex;
    justify-content: space-between;
    margin-top: 11px;
    width: 290px;
}

.calculator__textyear {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #707C87;
}

.calculator__conteinercapital {
    width: 290px;
    display: flex;
}

.calculator__textcapital {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #1F1E25;
    margin-top: 13px;
    margin-left: 24px;
    position: relative;
}

.calculator__inputcapital {
    display: none;
}

.calculator__textcapital::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid black;
    border-radius: 3px;
    left: -24px;
}

.calculator__textcapital--active::before {
    background-image: url('../../img/check-mark.svg');
    border: none;
    border-radius: 0px;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
}

.calculator__offer {
    width: 290px;
    height: 433px;
    background: #F6F7FF;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    margin-top: 29px;
}

.offer__conteiner {
    display: flex;
    flex-direction: column;
}

.offer__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    color: #1F1E25;
    margin-left: 15px;
    margin-top: 13px;
}

.offer__description {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #394959;
    margin-left: 15px;
}

.offer__text--first {
    margin-top: 36px;
}

.offer__text--margin {
    margin-top: 23px;
}

.offer__button {
    width: 260px;
    height: 51px;
    border: none;
    background: #2C36F2;
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    color: #F6F7FF;
    margin-top: 30px;
    margin-left: 15px;
}

.calculator__inaccessibility {
    margin-top: 29px;
    width: 290px;
    height: 201px;
    margin-left: 1px;
    background: #F6F7FF;
    border-radius: 4px;
}

.inaccessibility__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    color: #1F1E25;
    display: block;
    margin-left: 15px;
    margin-top: 34px;
    width: 227px;
}

.inaccessibility__description {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #394959;
    display: block;
    margin-left: 15px;
    margin-top: 12px;
    width: 274px;
}

.calculator__form {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.form__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    color: #1F1E25;
    margin-top: 28px;
}

.form__conteiner {
    display: flex;
    flex-direction: column;
    position: relative;
}

.form__description {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #394959;
    position: relative;
}

.form__text--center {
    text-align: center;
    font-size: 16px;
}

.form__text--margin {
    margin-top: 34px;
}

.form__conteiner::before {
    content: '';
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #C4C4C4;
    height: 1px;
    bottom: -15px;
}

.form__input {
    height: 60px;
    padding: 0;
    border: 1px solid #1F1E25;
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 14px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    margin-top: 20px;
    width: 100%;
}

.form__input--margin {
    margin-top: 45px;
}

.form__button {
    margin-top: 30px;
    background: #2C36F2;
    border-radius: 4px;
    border: none;
    height: 51px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    color: #F6F7FF;
}

.calculator__popup {
    width: 290px;
    height: 198px;
    background: #F6F7FF;
    border-radius: 4px;
    position: fixed;
    top: 25%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 50%;
    transform: translate(-50%);
}

.popup__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #1F1E25;
    margin-top: 40px;
    width: 200px;
}

.popup__notification {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #394959;
    margin-top: 25px;
    width: 250px;
}

.popup__button {
    position: absolute;
    width: 14px;
    height: 14px;
    background-color: #F6F7FF;
    background-image: url('../../img/esc.svg');
    border: none;
    right: 15px;
    top: 15px;
}

@media (min-width: $tablet-width) {
    .calculator {
        width: 678px;
        margin-top: 69px;
    }

    .calculator__title {
        font-size: 32px;
    }

    .calculator__text {
        margin-top: 28px;
        font-size: 18px;
    }

    .calculator__select {
        margin-top: 18px;
        width: 100%;
        padding-left: 19px;
    }

    .calculator__text--margin {
        margin-top: 34px;
    }

    .calculator__clarification {
        margin-top: 13px;
    }

    .calculator__inputValue {
        margin-top: 9px;
        width: 100%;
    }

    .inputValue__button--right {
        right: 24px;
        top: 58px;
    }

    .inputValue__button--left {
        top: 57px;
    }

    .inputValue__input {
        width: 100%;
        text-align: center;
        padding-left: 0px;
    }

    .calculator__contribution {
        margin-top: 9px;
        width: 100%;
        padding: 0;
        text-align: center;
    }

    .calculator__slider {
        width: 100%;
    }

    .calculator__textterm {
        margin-top: 14px;
    }

    .calculator__year {
        width: 100%;
    }

    .calculator__textconteiner {
        width: 100%;
    }

    .calculator__conteinercapital {
        width: 100%;
    }

    .calculator__textcapital {
        margin-top: 18px;
        width: 100%;
        font-size: 16px;
    }

    .calculator__textcapital::before {
        top: 1px;
    }

    .calculator__offer {
        width: 100%;
        margin-top: 37px;
        height: 390px;
    }

    .offer__text {
        margin-left: 0px;
        margin-top: 0px;
        font-size: 22px;
        height: 30px;
    }

    .offer__conteiner {
        height: 60px;
        margin-top: 25px;
        padding-left: 0px;
        margin-left: 60px;
        width: 228px;
    }

    .offer__conteiner--tablet {
        margin-top: 20px;
    }

    .offer__conteiner--tabletmargin {
        margin-left: 0px;
    }

    .offer__text--margin {
        margin-top: 0px;
    }

    .offer__block {
        display: flex;
        flex-wrap: wrap;
    }

    .offer__description {
        margin-left: 0px;
        margin-top: 3px;
    }

    .offer__text--first {
        margin-top: 54px;
        margin-left: 60px;
    }

    .offer__button {
        width: 558px;
        margin-left: auto;
        margin-right: auto;
        font-size: 16px;
    }

    .form__conteiner {
        flex-direction: row;
        justify-content: space-between;
        height: 55px;
    }
    
    .form__conteiner::before {
        bottom: -21px;
    }

    .form__text {
        order: 2;
        margin-top: 33px;
        font-size: 22px;
    }

    .form__text--center {
        order: 0;
        margin-top: 40px;
        margin-bottom: 5px;
        font-size: 18px;
    }

    .form__description {
        order: 1;
        margin-top: 37px;
    }

    .form__input {
        width: 324px;
        margin-top: 30px;
        font-size: 18px;
        padding-left: 23px;
    }
    
    .form__input--margin {
        margin-top: 51px;
        width: 100%;
    }
    
    .form__inpute--right {
        margin-left: 30px;
    }
    
    .form__conteiner-inpute {
        display: flex;
    }
    
    .form__button {
        font-size: 16px;
        margin-top: 40px;
    }
    
    .calculator__inaccessibility {
        width: 678px;
        height: 225px; 
    }
    
    .inaccessibility__text {
        width: 360px;
        height: 47px;
        font-size: 22px;
        margin-top: 60px;
    }
    
    .inaccessibility__description {
        font-size: 16px;
        width: 255px;
        margin-top: 25px;
    }

    .calculator__popup {
        width: 678px;
        height: 193px;
    }

    .popup__button {
        top: 30px;
        right: 30px;
    }

    .popup__text {
        width: 366px;
        font-size: 22px;
        margin-top: 60px;
    }

    .popup__notification {
        margin-top: 25px;
        width: 300px;
    }

}

@media (min-width: $desktop-width) {
    .calculator {
        width: 1170px;
        margin-top: 108px;
    }

    .calculator__title {
        font-size: 40px;
        width: 100%;
    }

    .calculator__select {
        width: 600px;
        margin-top: 22px;
    }

    .calculator__conteiner {
        display: flex;
        justify-content: space-between;
    }

    .calculator__offer {
        width: 500px;
    }

    .calculator__text {
        margin-top: 49px;
        font-size: 22px;
    }

    .calculator__text--margin {
        margin-top: 33px;
    }

    .calculator__clarification {
        margin-top: 8px;
    }

    .calculator__clarification--margin {
        margin-top: 18px;
    }

    .calculator__textcontribution {
        width: 100%;
        display: block;
        margin-top: 8px;
    }

    .inputValue__button--left, .inputValue__button--right {
        top: 60px;
    }

    .calculator__textterm {
        margin-top: 20px;
        display: block;
    }

    .calculator__textconteiner {
        margin-top: 6px;
    }

    .inputValue__button--right {
        right: 24px;
    }

    .calculator__textcapital {
        margin-top: 29px;
    }

    .calculator__offer {
        margin-top: 56px;
    }

    .offer__conteiner {
        width: 200px;
    }

    .offer__conteiner--tabletmargin {
        margin-left: 25px;
    }

    .offer__button {
        width: 382px;
    }

    .calculator__inaccessibility {
        width: 500px;
        margin-top: 56px;
    }

    .calculator__select::before {
        right: 21px;
    }

    .inaccessibility__text {
        margin-left: 58px;
        margin-top: 45px;
    }

    .inaccessibility__description {
        margin-left: 58px;
        height: 33px;
    }

    .calculator__form {
        width: 630px;
        margin-left: auto;
        margin-right: auto;
        background: #F6F7FF;
        border-radius: 4px;
        padding-left: 70px;
        padding-right: 70px;
        margin-top: 66px;
        height: 722px;
    }

    .form__text {
        margin-top: 24px;
    }

    .form__text--center {
        margin-top: 64px;
        font-size: 22px;
        margin-bottom: -1px;
    }

    .form__description {
        margin-top: 30px;
    }

    .form__conteiner::before {
        bottom: -12px;
    }

    .form__input--margin {
        margin-top: 42px;
    }

    .form__button {
        width: 198px;
        margin-left: auto;
        margin-right: auto;
    }

    .calculator__popup {
        width: 500px;
    }

    .popup__button {
        top: 25px;
        right: 25px;
    }
}