.body__conteiner {
    max-width: 1900px;
}

.openPopUp {
    overflow: hidden;
}

.header {
    background: #F6F7FF;
}

.header__conteiner {
    min-width: 320px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    min-height: 48px;
    justify-content: space-between;
    position: relative;
}

.header__conteiner-open {
    flex-direction: column;
    position: absolute;
    top: 0;
    z-index: 3;
    background: white;
}

.header__logomenu {
    display: flex;
}

.header__button {
    padding: 0;
    width: 16px;
    height: 12px;
    border: none;
    background-color: #F6F7FF;
    background-image: url('../../img/menu-mobile.svg');
    margin-top: 18px;
    margin-left: 15px;
}
  
.header__list {
    display: none;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.header__list-open {
    top: 79px;
    display: flex;
    flex-direction: column;
    left: 16px;
    border-top: 1px solid #C1C2CA;
    flex-grow: 1;
    margin-left: 16px;
    margin-top: 49px;
    margin-right: 16px;
}

  
.header__title {
    margin: 0px;
    padding-left: 9px;
    padding-top: 34px;
    margin-right: 60px;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 23px;
}

.header__logo {
    width: 115px;
    height: 17px;
}
  
.logo__img {
    width: 100%;
    display: block;
    margin-left: 13px;
    margin-top: 14px;
}

.list__element {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 16px;
    line-height: 19px;
    font-style: normal;
}

.list__element-open {
    height: 59px;
    align-items: center;
    display: flex;
    border-bottom: 1px solid #C1C2CA;
    padding-left: 14px;
    padding-top: 1px;
    height: 58px;
}

.list__link {
    text-decoration: none;
    color: #1F1E25;
}

.header__login {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 16px;
    line-height: 19px;
    position: relative;
    text-decoration: none;
    color: #1F1E25;
    border: none;
    background: #F6F7FF;
}

.header__login-open {
    height: 59px;
    border-bottom: 1px solid #C1C2CA;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 48px;
    background: white;
}

.header__login::before {
    content: '';
    display: block;
    position: absolute;
    background-image: url('../../img/login-mobile.svg');
    width: 14px;
    height: 16px;
    right: 15px;
    top: 16px;
}

.header__login-open::before {
    background-image: url('../../img/login.svg');
    width: 20px;
    height: 22px;
    left: 14px;
    top: 18px;
}

.header__logintext {
    display: none;
}

.header__logintext-open {
    display: block;
}

.header__close {
    position: absolute;
    border: none;
    background-image: url('../../img/exit.svg');
    right: 16px;
    top: 15px;
    width: 15px;
    height: 15px;
}


@media (min-width: $tablet-width) {
    .header__conteiner {
        height: 69px;
        justify-content: normal;
    }

    .header__logomenu {
        margin-top: 8px;
        margin-left: 31px;
    }

    .header__list {
        display: flex;
        margin-left: 98px;
        margin-top: 28px;
        flex-grow: 1;
        justify-content: space-between;
    }

    .list__element {
        font-size: 14px;
        line-height: 16px;
    }

    .header__button {
        display: none;
    }

    .header__login {
        width: 114px;
    }

    .header__login::before {
        background-image: url('../../img/login-tablet.svg');
        width: 20px;
        height: 22px;
        top: 23px;
        right: 45px;
    }
}

@media (min-width: $desktop-width) {
    .header__conteiner {
        height: 91px;
        padding-left: 98px;
        padding-right: 102px;
        justify-content: space-between;
    }
      
    .header__list {
        margin-left: 0;
        margin-top: 36px;
        white-space: nowrap;
        flex-grow: 0;
        width: 421px;
    }

    .header__logintext {
        display: block;
        margin-left: 0px;
        white-space: nowrap;
    }

    .header__logomenu {
        width: 150px;
        margin-left: 0px;
        margin-top: 26px;
        margin-right: 0px;
    }
      
    .logo__img {
        margin: 0;
    }
    
    .list__element {
        font-size: 16px;
        line-height: 19px;
    }
    
    .header__login {
        width: 173px;
        margin-right: 0px;
        margin-left: 0px;
    }
    
    .header__login::before {
        top: 34px;
        left: -30px;
    }    
}

