.login {
    background: #F6F7FF;
    border: 4px solid #2C36F2;
    box-sizing: border-box;
    width: 290px;
    height: 455px;
    position: absolute;
    top: 0px;
    z-index: 3;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
}

.login__img {
    margin-left: 3px;
    margin-top: 45px;
    width: 164px;
    height: 31px;
}

.login__esc {
    position: absolute;
    width: 14px;
    height: 14px;
    background-color: #F6F7FF;
    background-image: url('../../img/esc.svg');
    border: none;
    top: 45px;
    right: 15px;
}

.login__desc {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #394959;
    margin-left: 16px;
    margin-top: 26px;
}

.login__desc--margin {
    margin-top: 19px;
}

.login__input {
    width: 250px;
    height: 60px;
    border: 1px solid #1F1E25;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #1F1E25;
    padding-left: 20px;
    margin-left: 16px;
    margin-top: 5px;
}

.login__input--margin {
    margin-top: 4px;
}

.login__button {
    background: #2C36F2;
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #F6F7FF;
    width: 250px;
    height: 51px;
    border: none;
    margin-left: 16px;
    margin-top: 30px;
}

.login__link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #707C87;
    text-decoration: none;
    text-align: center;
    margin-top: 11px;
}

@media (min-width: $tablet-width) {
    .login {
        width: 678px;
        height: 493px;
    }

    .login__img {
        margin-left: 74px;
        margin-top: 55px;
        width: 170px;
        height: 31px;
    }

    .login__desc {
        margin-left: 84px;
        margin-top: 36px;
    }

    .login__desc--margin {
        margin-top: 24px;
    }

    .login__input {
        margin-left: 84px;
        width: 502px;
    }

    .login__link {
        position: absolute;
        right: 84px;
        top: 316px;
        font-size: 12px;
    }

    .login__button {
        margin-top: 49px;
        margin-left: 84px;
        width: 501px;
        height: 60px;
        font-size: 18px;
    }

    .login__esc {
        background-image: url('../../img/esc-tablet.svg');
        width: 19px;
        height: 18px;
        background-repeat: no-repeat;
        top: 55px;
        right: 82px;
    }
}

@media (min-width: $desktop-width) {
    .login {
        width: 544px;
    }

    .login__img {
        margin-left: 46px;
    }

    .login__esc {
        right: 54px;
    }

    .login__desc {
        margin-left: 56px;
    }

    .login__input {
        margin-left: 56px;
        width: 424px;
    }

    .login__button {
        margin-left: 57px;
        width: 422px;
    }

    .login__link {
        right: 57px;
    }
}