// .header {
//     display: none;
// }

// .slider {
//     display: none;
// }

.service__container {
    height: 362px;
    background: #F6F7FF;
}

.service__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    display: flex;
    align-items: center;
    color: #1F1E25;
    margin-top: 54px;
    margin-left: 15px;
    white-space: pre-wrap;
}

.service__text-conteiner {
    display: flex;
    flex-direction: column;
    width: 242px;
    height: 114px;
    justify-content: space-between;
    margin-top: 21px;

}

.service__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #1F1E25;
    margin-left: 30px;
    white-space: pre-wrap;
    position: relative;
    z-index: 1;
}

.service__text::before {
    content: '';
    position: absolute;
    display: block;
    background-image: url('../../img/check.svg');
    width: 10px;
    height: 8px;
    left: -16px;
    top: 4px;
}

.service__button {
    width: 290px;
    height: 43px;
    border: none;
    background: #2C36F2;
    border-radius: 4px;
    margin-top: 25px;
    margin-left: 15px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #F6F7FF;
}

.service__content-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #1F1E25;
    white-space: pre-wrap;
    margin-top: 22px;
    display: block;
    margin-left: 15px;
}

.service__text-button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #1F1E25;
    border: none;
    background: #F6F7FF;
    text-decoration-line: underline;
}

.service__text-conteiner--height {
    height: 78px;
}

.service__text-contener--fourth {
    height: 102px;
}

.service__container::after {
    content: '';
    position: absolute;
    display: block;
    width: 87px;
    height: 113px;
    top: 98px;
    right: 0;
}

.service__conteiner-pig::after {
    background-image: url('../../img/piggybank.png');
}

.service__conteiner-car::after {
    background-image: url('../../img/car.png');
}

.service__conteiner-lock::after{
    background-image: url('../../img/lock.png');
}

.service__conteiner-telephone::after{
    background-image: url('../../img/telephone.png');
}

@media (min-width: $tablet-width) {
    .service__container {
        flex-direction: column;
        height: 380px;
    }

    .service__title {
        font-size: 18px;
        margin-left: 45px;
        margin-bottom: 0;
    }

    .service__text-conteiner {
        margin-top: 24px;
        width: 405px;
    }

    .service__text {
        font-size: 16px;
        margin-left: 66px;
    }

    .service__button {
        width: 198px;
        height: 48px;
        font-size: 16px;
        margin-top: 30px;
        margin-left: 45px;
    }

    .service__text-conteiner--height {
        height: 92px;
    }

    .service__content-text {
        font-size: 16px;
        margin-top: 29px;
        margin-left: 45px;
    }

    .service__text-button {
        font-size: 16px;
    }

    .service__title--nowrap {
        white-space: inherit;
        width: 380px;
    }

    .service__text--width {
        width: 320px;
    }

    .service__text-contener--fourth {
        height: 98px;
    }

    .service__text::before {
        background-image: url('../../img/check-tablet.svg');
        width: 13px;
        height: 10px;
        left: -22px;
        top: 6px;
    }

    .service__container::after {
        width: 289px;
        height: 260px;
        top: 60px;
        right: 45px;
    }

    .service__conteiner-pig::after {
        background-image: url('../../img/piggybank-tablet.png');
    }
    
    .service__conteiner-car::after {
        background-image: url('../../img/car-tablet.png');
    }
    
    .service__conteiner-lock::after{
        background-image: url('../../img/lock-tablet.png');
    }
    
    .service__conteiner-telephone::after{
        background-image: url('../../img/telephone-tablet.png');
    }
}

@media (min-width: $desktop-width) {
    .service__menu {
        padding-left: 98px;
        padding-right: 98px;
        display: flex;
        margin-top: 60px;
    }

    .menu__button {
        flex-grow: 1;
        border: none;
        height: 93px;
        padding: 0;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #4C4B51;
    }

    .menu__button--active {
        color: #1F1E25;
        background: #F6F7FF;
    }

    .menu__text {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        display: flex;
        align-items: center;
        padding-left: 12px;
    }

    .menu__vault {
        width: 34px;
        height: 33px;
    }

    .menu__cards {
        width: 34px;
        height: 30px;
    }

    .menu__security {
        width: 28px;
        height: 34px;
    }

    .menu__phone {
        width: 20px;
        height: 34px;
    }

    .service__container {
        margin-left: 98px;
        margin-right: 98px;
        height: 399px;
        position: relative;
    }

    .service__title {
        margin-top: 0;
        font-size: 22px;
        padding-top: 53px;
        margin-left: 71px;
    }

    .service__text {
        font-size: 18px;
        margin-left: 91px;
    }

    .service__text-conteiner {
        margin-top: 28px;
        height: 108px;
        width: 473px;
    }

    .service__button {
        margin-top: 34px;
        margin-left: 70px;
        width: 198px;
        height: 51px;
    }

    .service__text-conteiner--height {
        height: 99px;
    }

    .service__content-text {
        margin-left: 70px;
        margin-top: 29px;
        font-size: 18px;
    }

    .service__text-button {
        font-size: 18px;
        padding-top: 0;
    }

    .service__title--nowrap {
        width: 415px;
    }

    .service__text--width {
        width: 335px;
    }

    .service__text-conteiner--fourth {
        height: 108px;
    }

    .service__container::after {
        right: 135px;
        width: 440px;
        height: 290px;
    }

    .service__conteiner-pig::after {
        background-image: url('../../img/piggybank-desktop.png');
        top: 60px;
    }

    .service__conteiner-telephone::after {
        background-image: url('../../img/telephone-desktop.png');
        top: 53px;
    }

    .service__conteiner-lock::after {
        background-image: url('../../img/lock-desktop.png');
        top: 48px;
    }

    .service__conteiner-car::after {
        background-image: url('../../img/car-desktop.png');
        top: 55px;
    }
}