@font-face {
    font-family: 'Roboto', 'Arial', sans-serif;
    src: url('../fonts/roboto-v27-latin_cyrillic-regular.woff2') format('woff2'),
           url('../fonts/roboto-v27-latin_cyrillic-regular.woff') format('woff');
    font-display: swap;
   }